
  body {
    font-family: 'Poppins', sans-serif !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #202647 !important;
  }

  p {
    line-height: 30px !important;
    color: #6b6b84;
  }


  .btn-site {
    background-color: #0dbcc0 !important;
    color: #fff !important;
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px 3px #ccc !important;
    transition: 0.3s !important;
}